<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.fields_for :student, @rating.student do |student| %>
  <%= student.label "Who is it?" %>
  <%= student.text_field :name %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :attendance %><br>
    <%= f.number_field :attendance %>
  </div>
  <div class="field">
    <%= f.label :studies %><br>
    <%= f.number_field :studies %>
  </div>
  <div class="field">
    <%= f.label :discussion %><br>
    <%= f.number_field :discussion %>
  </div>
  <div class="field">
    <%= f.label :group_work %><br>
    <%= f.number_field :group_work %>
  </div>
  <div class="field">
    <%= f.label :independent_work %><br>
    <%= f.number_field :independent_work %>
  </div>
  <div class="field">
    <%= f.label :distractability %><br>
    <%= f.number_field :distractability %>
  </div>
  <div class="field">
    <%= f.label :disruptability %><br>
    <%= f.number_field :disruptability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
